@import './../../../css/var';
@import './ui-var';

.single_button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: $min-button-height;
    padding: 10px;
}
