@import './../../../../../css/var';

.unit__wrapper {
    padding: 12px 15px 16px;
}

.unit__name {
    display: block;
    font-size: 18px;
    padding-bottom: 18px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/*
.level_wrapper {
    display: block;
}
*/

.unit__short_info {
    border-bottom: 1px solid #fff;
    padding-bottom: 14px;
}

.unit_sell_position__short_info {
    display: block;
    margin: 0 0 0 58px;
    overflow: hidden;
    //width: 147px;
}

.experience_text,
.hit_points_text {
    text-shadow: 2px 2px 0 $main-text-shadow-color;
}

.experience_text {
    color: $experience-text-color;
}

.hit_points_text {
    color: $hit-points-text-color;
}
