.add-contact {
    width: 274px;
    padding: 40px 37px 20px;
    background-color: #fff;
}

.add-contact__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.add-contact__submit-button {
    width: 100%;
    color: $buttonTextColor;
    font-size: 18px;
    text-align: center;
    background-color: $buttonApplyButtonBbColor;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
