.chat-message-list {
    height: 100%;
    overflow: auto;
    padding-bottom: $sendMessageHeight;
    box-sizing: border-box;
}

.chat-message-list--container {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
}

