@import "./../../../../css/var";

.button_list_wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
