@import './../../../../css/service';

.unit_sell_position {
    @extend %clear-full;

    border-bottom: 1px solid #fff;
    display: block;
    margin: 0 auto;
    max-width: 320px;
    padding: 14px 15px 20px;
    position: relative;
}

.unit_preview {
    display: block;
    float: left;
}

.unit_name {
    display: block;
    font-size: 14px;
    line-height: 1.15;
    padding-bottom: 10px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.unit_data {
    display: block;
}

.full_info {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding-top: 11px;
}

.unit_sell_position__short_info {
    display: block;
    margin: 0 87px 0 58px;
    overflow: hidden;
    width: 147px;
}

.unit_sell_position__short_info__line {
    clear: left;
    display: block;
}

.unit_sell_position__short_info__line_icon {
    display: block;
    float: left;
}

.unit_sell_position__short_info__line_text {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 1.15;
    padding: 3px 11px 6px 5px;

    &:first-child {
        padding-left: 10px;
    }
}

.buy_button {
    float: right;
    margin-top: 3px;
    min-width: auto;
    width: 75px;
}

.show_info_button {
    display: block;
    float: right;
    margin-top: 3px;
    min-width: auto;
    padding-left: 0;
    padding-right: 0;
    width: 43px;
}

.show_info_description_icon {
    display: block;
    margin: 0 auto;
}
