.unit_sell_position {
    display: block;
    max-width: 750px;
    position: relative;
}

.unit_preview {
    display: block;
    float: left;
}

.unit_name {
    display: block;
}

.unit_data {
    display: block;
}

.full_info__wrapper {
    display: block;
    padding: 20px;
}

.unit_sell_position__short_info {
    display: block;
}

.unit_sell_position__short_info__line {
    display: block;
}

.buy_button {
    display: block;
}

.show_info_button {
    display: block;

    &.show_info_button__open {
        opacity: 0.5;
    }
}
