@import './../ui-var';

.wrapper {
    display: block;
    min-width: 140px;
    position: relative;
}

.select {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.current_selected {
    background-color: $main-background-color;
    border: 2px solid #fff;
    box-sizing: border-box;
    display: block;
    padding: 7px 40px 7px 10px;
    position: relative;
    text-align: right;
    z-index: 0;
    //min-width: 100px;
    &:after {
        border: 8px solid transparent;
        border-top-color: #fff;
        content: '';
        height: 0;
        position: absolute;
        right: 10px;
        top: 12px;
        width: 0;
        z-index: 0;
    }
}

.icon {
    float: left;
    height: 24px;
    left: 5px;
    pointer-events: none;
    position: relative;
    top: 5px;
    width: 24px;
    z-index: 1;
}
