@import './../../../../../css/var';

.hint_text {
    color: #fff;
    font-family: $main-font-family;
    font-size: 12px;
    text-align: center;
    text-shadow: 1px 1px 0 $main-text-shadow-color;
}
