@import './../../../../css/var';

.dialog_wrapper {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    font-family: $main-font-family;
    height: 100%;
    justify-content: center;
    left: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.dialog_content {
    background-image: linear-gradient(0deg, $main-gradient-begin, $main-gradient-end);
    background-position: 0 50%;
    background-size: 100% 150%;
    border: 4px solid #eee;
    box-shadow: 5px 5px 0 #000;
    box-sizing: border-box;
    //top: 50%;
    //transform: translate3d(-50%, -50%, 0);
    display: flex;
    //flex-direction: row;
    //align-items: center;
    flex-direction: column;
    //left: 50%;
    max-height: 90%;
    max-width: 65%;
    min-width: 300px;
    outline: none;
    //overflow: hidden;
    //padding: 14px 10px 17px;
    position: relative;
    z-index: 1;
    //width: 300px;
    //flex-grow: 1;
}

.dialog_content__visible {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.dialog_content__hidden {
    max-height: 100%;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
}
