.wrapper {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 32px;
    margin-right: 5px;
    margin-top: -3px;
    width: 32px;
}
