input,
select,
button {
    display: block;
    padding: 5px;
    border: 2px solid #6d6d6d;
    cursor: pointer;
}

input {
    background-color: #ff8888;
}

select {
    background-color: #88ff88;
}

button {
    background-color: #8888ff;
    &:hover {
        box-shadow: 0 0 5px 5px rgba(136, 136, 255, 0.5);
    }
}
