@import './../../../../../css/var';

.dialog_header {
    color: #fff;
    font-family: $main-font-family;
    font-size: 26px;
    line-height: 37px;
    padding-bottom: 16px;
    text-align: center;
    text-shadow: 2px 2px 0 #333;
    text-transform: capitalize;
}
