@import './../../../css/var';

$main-background-color: #242a45;

.button,
%button {
    background-color: $main-background-color;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 6px;
    min-height: 41px;
    min-width: 195px;
    padding: 9px 5px 4px 6px;
    text-align: left;
    text-decoration: none;
    text-shadow: 3px 3px 0 #000;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: none;
        text-shadow: none;
    }

    &:active {
        background-color: #39384e;
    }
}

.header,
%bar {
    background-color: $main-background-color;
    border-image-repeat: repeat repeat;
    border-image-slice: 25%;
    border-image-source: url('./../../../i/header-border.svg');
    border-style: solid;
    border-width: 13px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: $bar-height;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header_text {
    font-size: 19px;
    line-height: 19px;
    margin-left: 47px;
    margin-right: 7px;
    margin-top: 5px;
    text-align: right;
    text-shadow: 3px 3px 0 #000;
}
