@import './../ui/ui';
@import './../ui/ui-var';
@import './../../../css/var';

$bottom-bar--border-color: #404757;

.end_turn__wrapper {
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: $main-text-color;
    display: block;
    font-family: $main-font-family;
    font-size: 40px;
    font-weight: bold;
    height: 48px;
    overflow: hidden;
    padding: 3px 5px 3px 14px;
    position: absolute;
    right: 10px;
    top: 10px;
    user-select: none;
    width: 67px;

    &:hover {
        box-shadow: none;
    }

    &:active {
        box-shadow: none;
        opacity: 0.5;
    }
}

.end_turn__button {
    color: #333;
    font: inherit;
    font-size: 46px;
    left: 0;
    line-height: 38px;
    outline: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.game_page {
    background-color: #333;
    background-image: url('./i/game-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bottom_bar__wrapper {
    background-color: $bottom-bar--border-color;
    border-top: 1px solid $bottom-bar--border-color;
    height: $bar-height;
}

.bottom_bar {
    background-position: 0 50%;
    background-size: 100% $bar-height;
    display: flex;
    justify-content: center;
    margin-right: $bar-height + 1; // + 1 to make border between bar and landscape info
    width: auto;
}

.bottom_bar__icon {
    float: left;
    margin: 1px 5px 0 0;
}

.bottom_bar__text {
    float: left;
    font-size: inherit;
    margin: 3px 10px 0 0;

    &:last-child {
        margin-right: 0;
    }
}

.bottom_bar__color_red {
    background-image: linear-gradient(to bottom, #a10070, $main-background-color);
}

.bottom_bar__color_blue {
    background-image: linear-gradient(to bottom, #0064c6, $main-background-color);
}

.bottom_bar__color_green {
    background-image: linear-gradient(to bottom, #009937, $main-background-color);
}

.bottom_bar__color_black {
    background-image: linear-gradient(to bottom, #002b4b, $main-background-color);
}
