@import './../ui/ui';
@import './../ui/ui-var';
@import './../../../css/var';

$bottom-bar--border-color: #404757;

.end_turn__wrapper {
    background-image: url('./i/end-turn-button/normal.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 58px;
    display: block;
    height: 56px;
    position: absolute;
    right: 1px;
    top: 1px;
    user-select: none;
    width: 77px;

    &:hover {
        background-image: url('./i/end-turn-button/hover.png');
    }

    &:active {
        background-image: url('./i/end-turn-button/active.png');
    }

    &.end_turn__wrapper__disabled {
        background-image: url('./i/end-turn-button/disable.png');
        pointer-events: none;
    }
}

.end_turn__button {
    height: 45px;
    outline: none;
    position: absolute;
    right: 6px;
    top: 5px;
    width: 67px;
}

.game_page {
    background-color: #333;
    background-image: url('./i/game-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bottom_bar__wrapper {
    background-color: $bottom-bar--border-color;
    border-top: 1px solid $bottom-bar--border-color;
    height: $bar-height;
}

.bottom_bar {
    background-position: 0 50%;
    background-size: 100% $bar-height;
    display: flex;
    justify-content: center;
    margin-right: $bar-height + 1; // + 1 to make border between bar and landscape info
    width: auto;
}

.bottom_bar__icon {
    float: left;
    margin: 1px 5px 0 0;
}

.bottom_bar__text {
    float: left;
    font-size: inherit;
    margin: 3px 10px 0 0;

    &:last-child {
        margin-right: 0;
    }
}

.bottom_bar__color_red {
    background-image: linear-gradient(to bottom, #a10070, $main-background-color);
}

.bottom_bar__color_blue {
    background-image: linear-gradient(to bottom, #0064c6, $main-background-color);
}

.bottom_bar__color_green {
    background-image: linear-gradient(to bottom, #009937, $main-background-color);
}

.bottom_bar__color_black {
    background-image: linear-gradient(to bottom, #002b4b, $main-background-color);
}
