@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    // bigger than 36(size) + 2 * 3(border size) to fix extra scroll
    height: 52px;
    position: relative;
    width: 52px;

    &:before {
        animation: spin 0.5s linear infinite;
        border: 3px solid #ccc;
        border-radius: 50%;
        border-top-color: transparent;
        box-sizing: border-box;
        content: '';
        height: 36px;
        left: 50%;
        margin-left: -18px;
        margin-top: -18px;
        position: absolute;
        top: 50%;
        width: 36px;
    }
}
