@keyframes spin {
    from {
        transform: translate3d(-50%, -50%, 0) rotate(0);
    }

    to {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner_wrapper {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    &.spinner_wrapper__fade {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.spinner {
    animation: spin 0.5s linear infinite;
    border: 3px solid #ccc;
    border-radius: 50%;
    border-top-color: transparent;
    box-sizing: border-box;
    height: 36px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 36px;
}
