@import './../../../../css/var';

.dialog_action_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dialog_action_button {
    border: 3px solid #fff;
    box-shadow: 3px 3px 0 $main-text-shadow-color;
    color: #fff;
    display: block;
    font-family: $main-font-family;
    font-size: 20px;
    margin: 10px;
    padding: 7px 10px 10px;

    &:active {
        box-shadow: none;
    }
}
