@import './../../../../../css/var';

.wrapper {
    cursor: pointer;
    font-size: 20px;
    left: 0;
    line-height: 20px;
    padding: 11px 9px;
    position: absolute;
    text-shadow: 3px 3px 0 $main-text-shadow-color;
    top: -8px;
    z-index: 1;
}
