//$buttonFontFamily: 'Open Sans', Helvetica, Arial, sans-serif;
$button-text-color: #0fe0f5;
$button-shadow-color: #222;

.button,
%button {
    background-color: transparent;
    box-sizing: border-box;
    color: $button-text-color;
    cursor: pointer;
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 20px 46px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 4px 6px $button-shadow-color;
    text-transform: uppercase;
    transition: color 0.5s;
    z-index: 0;

    &:before,
    &:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    &:hover {
        text-shadow: none;
    }

    &:active {
        box-shadow: none;
    }

    &:after {
        border: 6px solid $button-shadow-color;
        content: '';
        height: 100%;
        left: 9px;
        position: absolute;
        top: 9px;
        width: 100%;
        z-index: -1;
    }

    &:before {
        border: 6px solid $button-text-color;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &:active:after {
        opacity: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

