@import "./../../../../css/var";

.wrapper {
    display: block;
    color: $mainTextColor;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: normal;
    background-color: #ccc;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover {
        background-color: #777;
    }
}
