$mainTextColor: #212121;
$uiBgColor: #e9bb97;

$mainFontFamily: Roboto, sans-serif;
$monospaceFontFamily: "Lucida Console", monospace;

.wh50 {
    width: 100%;
    height: 50%;
    float: left;
    position: relative;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ta-center {
    text-align: center;
}

.hidden {
    display: none;
}
