/* stylelint-disable selector-pseudo-class-no-unknown */

@import './var';

html,
body {
    background-image: linear-gradient(180deg, #7f8598, #333c57);
    height: 100%;
    overflow: hidden;
    width: 100%;
}

:global .app-wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    color: $main-text-color;
    font-family: $main-font-family;
    font-size: $main-font-size;
    line-height: $main-line-height;
}
