/* stylelint-disable selector-pseudo-class-no-unknown, max-nesting-depth */

.hidden {
    display: none !important;
}

.disabled {
    opacity: 0.5;
    pointer-events: none; // see Can I Use
}

/*
.clear_self {
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}
*/

/*
.clear_full {
    clear: both;

    &:after {
        clear: both;
        content: '';
        display: block;
    }
}
*/

/*
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/

.ta_c {
    text-align: center;
}

.ta_l {
    text-align: left;
}

.ta_r {
    text-align: right;
}

.fl_l {
    float: left;
}

.fl_r {
    float: right;
}

.fl_n {
    float: none;
}

.w50_c {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.w75_c {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.grow_1 {
    display: block;
    flex-grow: 1;
    overflow: auto;
}

.two_blocks_wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .two_blocks_container {
        height: 50%;
        position: relative;
        width: 100%;
        z-index: 0;
    }
}

@media screen and (orientation: landscape) {
    .two_blocks_wrapper {
        .two_blocks_container {
            float: left;
            height: 100%;
            width: 50%;
        }
    }
}
