//$main-font-family: 'MS Trebuchet', sans-serif;
$main-font-family: 'Lucida Console', Monaco, monospace;
$main-font-size: 14px;
$main-line-height: 20px;
$main-text-color: #f5f5f5;
$main-text-shadow-color: #333;
$main-gradient-begin: #333c57;
$main-gradient-end: #7f8598;
$experience-text-color: #ffe900;
$hit-points-text-color: #0c0;

//$main-shadow-color: #212121;
